In [1]:
from io import StringIO
import os
import boto3
import pandas as pd

In [2]:
aws_access_key_id=os.getenv("AWS_ACCESS_KEY")
aws_secret_key=os.getenv("AWS_SECRET_KEY")

In [3]:
aws_access_key_id

'AKIAYRH5NAPODQSMZVDP'

In [4]:
def read_csv_from_s3(bucket: str,path: str, filename:str) ->pd.DataFrame:
    
    s3=boto3.client("s3",aws_access_key_id=aws_access_key_id,aws_secret_access_key=aws_secret_key) 
    full_path = f"{path}{filename}"
    
    object = s3.get_object(Bucket=bucket, Key=full_path)
    object = object["Body"].read().decode("utf-8")
    output_df = pd.read_csv(StringIO(object))

    return output_df

In [10]:
s3=boto3.client("s3",aws_access_key_id=aws_access_key_id,aws_secret_access_key=aws_secret_key) 

bucket="dataengineerea"


community_areas_path= "transformed_data/community_areas/"
company_path="transformed_data/company/"
date_path="transformed_data/date/"
payment_type_path="transformed_data/payment_type/"
taxi_trips_path="transformed_data/taxi_trips/"
weather_path="transformed_data/weather/"

In [16]:
community_areas=payment_type = read_csv_from_s3(bucket=bucket,path=community_areas_path,filename="community_areas_master.csv")
company = read_csv_from_s3(bucket=bucket,path=company_path,filename="company_master.csv")
#date = read_csv_from_s3(bucket=bucket,path=date_path,filename="date_dimension.csv")
payment_type = read_csv_from_s3(bucket=bucket,path=paymnet_type_path,filename="payment_type_master.csv")

In [15]:
trips_list=[]
weather_list=[]

In [18]:
# Taxi data transformation and laoding
for file in s3.list_objects(Bucket=bucket, Prefix=taxi_trips_path)["Contents"]:
    taxi_trip_key = file['Key']
    
    if taxi_trip_key.split("/")[-1].strip() !="":
        if taxi_trip_key.split(".")[1] =="csv":
            filename=taxi_trip_key.split("/")[-1]
            trip=read_csv_from_s3(bucket, taxi_trips_path , filename)

            trips_list.append(trip)
            print(f"{filename} has been added")

taxi_2024-10-20.csv has been added
taxi_2024-10-21.csv has been added
taxi_2024-10-22.csv has been added
taxi_2024-10-23.csv has been added
taxi_2024-10-24.csv has been added
taxi_2024-10-25.csv has been added
taxi_2024-10-26.csv has been added
taxi_2024-10-27.csv has been added
taxi_2024-10-28.csv has been added

In [19]:
trips=pd.concat(trips_list, ignore_index=True)

In [20]:
trips

,trip_id,taxi_id,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,pickup_community_area_id,dropoff_community_area_id,fare,tips,tolls,extras,trip_total,pickup_centroid_latitude,pickup_centroid_longitude,dropoff_centroid_latitude,dropoff_centroid_longitude,datetime_for_weather,payment_type_id,company_id
0,69eff3211ce9216d6e099744a67e1e6a6aef6736,15ebaceb1f5e522414ecc2fb3af8775a525ccbb8427e69...,2024-10-20T23:45:00.000,2024-10-20T23:45:00.000,7,0.03,8,8,3.25,0.00,0.0,0.0,3.25,41.899602,-87.633308,41.899602,-87.633308,2024-10-20 23:00:00,2,8
1,6a39028d37df4a36cfe07dcf45f1ac3f459536d0,0642efa0706335c4f47ec1f5d0f84bbc4cedaeb693a0f4...,2024-10-20T23:45:00.000,2024-10-21T01:00:00.000,4774,9.84,32,2,44.75,0.00,0.0,0.0,44.75,41.878866,-87.625192,42.001571,-87.695013,2024-10-20 23:00:00,2,6
2,6af2d447117b17336f8537da30b091990546f30b,ebdfb00f38c617622248af90f5f2d6b5b43cd03e925411...,2024-10-20T23:45:00.000,2024-10-21T00:00:00.000,300,0.50,8,8,5.00,0.03,0.0,0.0,5.03,41.899602,-87.633308,41.899602,-87.633308,2024-10-20 23:00:00,3,13
3,6bfc57150466f4970937df5d67cc567fa8418136,d31f81c999a017a3516da0b9a9fd96abf7e4ea8333e94a...,2024-10-20T23:45:00.000,2024-10-21T00:00:00.000,1259,16.65,76,24,41.00,9.10,0.0,4.0,54.60,41.980264,-87.913625,41.901207,-87.676356,2024-10-20 23:00:00,3,4
4,78912b5c510d5a8a3fc75090eb98f341bd4b4dcd,641c9356c873f4b5fb13d4b2f70d8b4d4b7b2c98057272...,2024-10-20T23:45:00.000,2024-10-21T00:00:00.000,1140,0.00,56,8,45.00,11.35,0.0,0.0,56.35,41.792592,-87.769615,41.899602,-87.633308,2024-10-20 23:00:00,3,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
152826,2f12cdb65bebe88aef522aeb1a689eec0fbc983a,cea53c687c3dd5ab8ad7483cc0003e4ea755d879919588...,2024-10-28T00:00:00.000,2024-10-28T00:15:00.000,960,8.80,56,28,23.50,5.80,0.0,5.0,34.30,41.792592,-87.769615,41.874005,-87.663518,2024-10-28 00:00:00,3,7
152827,2e3617887af2ab685c782360fbb3657ff01fffa8,07f3ce687dce8fa4518b83cd63bfbfb0383339fd188b5b...,2024-10-28T00:00:00.000,2024-10-28T00:30:00.000,1200,12.80,50,36,32.50,0.00,0.0,0.0,32.50,41.706126,-87.598256,41.823713,-87.602350,2024-10-28 00:00:00,5,7
152828,2794a39006ed0ddc47a5d45ad7cd6bf3ac55dd07,f78d14baa2d1f80febaa17d73381c2eadb406cf4537522...,2024-10-28T00:00:00.000,2024-10-28T00:15:00.000,1680,13.30,76,3,34.75,3.88,0.0,4.0,42.63,41.980264,-87.913625,41.965812,-87.655879,2024-10-28 00:00:00,3,13
152829,24ee5da9ccb16ca7b81d75763084943c5f61d41c,da1a4de231c9fa53f23463812544aa4af3c4de1cfc4add...,2024-10-28T00:00:00.000,2024-10-28T00:15:00.000,150,0.50,3,3,4.50,0.00,0.0,0.0,4.50,41.965812,-87.655879,41.965812,-87.655879,2024-10-28 00:00:00,2,1
152830,243953e86df22a3571f2d17dbbe899507e339c53,cb8da8dde1057540d8da485b4510d133316163e21fbef9...,2024-10-28T00:00:00.000,2024-10-28T00:15:00.000,795,9.13,7,15,24.25,0.00,0.0,0.0,24.25,41.922686,-87.649489,41.954028,-87.763399,2024-10-28 00:00:00,1,8

In [21]:
#Weather data transformation and loading
for file in s3.list_objects(Bucket=bucket, Prefix=weather_path)["Contents"]:
    weather_key = file["Key"]
    if weather_key.endswith(".csv"):
        print(f"Processing file: {weather_key}")
            
        filename=weather_key.split("/")[-1]
        weather_daily=read_csv_from_s3(bucket, weather_path , filename)
        weather_list.append(weather_daily)
        print(f"{filename} has been added")

Processing file: transformed_data/weather/weather_2024-10-10.csv
weather_2024-10-10.csv has been added
Processing file: transformed_data/weather/weather_2024-10-23.csv
weather_2024-10-23.csv has been added
Processing file: transformed_data/weather/weather_2024-10-24.csv
weather_2024-10-24.csv has been added
Processing file: transformed_data/weather/weather_2024-10-25.csv
weather_2024-10-25.csv has been added
Processing file: transformed_data/weather/weather_2024-10-26.csv
weather_2024-10-26.csv has been added
Processing file: transformed_data/weather/weather_2024-10-27.csv
weather_2024-10-27.csv has been added
Processing file: transformed_data/weather/weather_2024-10-28.csv
weather_2024-10-28.csv has been added

In [23]:
weather=pd.concat(weather_list, ignore_index=True)
weather

                datetime  temperature  wind_speed  rain  precipitation
0    2024-10-10 00:00:00         16.1        16.1   0.0            0.0
1    2024-10-10 01:00:00         15.5        18.2   0.0            0.0
2    2024-10-10 02:00:00         15.2        17.8   0.0            0.0
3    2024-10-10 03:00:00         15.0        17.6   0.0            0.0
4    2024-10-10 04:00:00         14.7        16.7   0.0            0.0
..                   ...          ...         ...   ...            ...
163  2024-10-28 19:00:00         16.6        22.8   0.0            0.0
164  2024-10-28 20:00:00         17.7        22.4   0.0            0.0
165  2024-10-28 21:00:00         17.4        20.8   0.0            0.0
166  2024-10-28 22:00:00         16.5        20.9   0.0            0.0
167  2024-10-28 23:00:00         15.4        23.1   0.0            0.0

[168 rows x 5 columns]

### Join them together

In [39]:
trips_full=pd.merge(trips,weather,left_on="datetime_for_weather", right_on="datetime", how="inner")
trips_full=trips_full.drop(columns=["datetime"])
trips_full.head()

,trip_id,taxi_id,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,pickup_community_area_id,dropoff_community_area_id,fare,tips,...,pickup_centroid_longitude,dropoff_centroid_latitude,dropoff_centroid_longitude,datetime_for_weather,payment_type_id,company_id,temperature,wind_speed,rain,precipitation
0,a86a77a24d6e50b452dbdd5ced615c4105838481,9aa3a93e0b6e0555523d1554d51db2037c14c34125117b...,2024-10-23T23:45:00.000,2024-10-24T00:00:00.000,420,1.70,28,32,7.50,2.00,...,-87.663518,41.878866,-87.625192,2024-10-23 23:00:00,3,7,14.0,11.1,0.0,0.0
1,acc49802e6817567d01b8609b781c839b77c9d8f,bec564bc76ead09ce3ff6220d91e4e0a1b7432a5dbeb76...,2024-10-23T23:45:00.000,2024-10-24T00:00:00.000,1440,16.50,76,24,41.25,13.70,...,-87.913625,41.901207,-87.676356,2024-10-23 23:00:00,3,7,14.0,11.1,0.0,0.0
2,b01585bf8ad646e63c252f487d507be3120e7127,b41e8c8124d8d600a4db8b7c176c2956756d378c749cb1...,2024-10-23T23:45:00.000,2024-10-24T00:00:00.000,420,0.00,8,8,13.25,2.75,...,-87.633308,41.899602,-87.633308,2024-10-23 23:00:00,3,7,14.0,11.1,0.0,0.0
3,b547f9fce2476767b842609e1b043a5a2d44dd2f,4c8b6783201bdc422fd78043aceeea92a005af4c37bba7...,2024-10-23T23:45:00.000,2024-10-24T00:15:00.000,1326,12.98,56,8,33.75,6.85,...,-87.769615,41.899602,-87.633308,2024-10-23 23:00:00,3,14,14.0,11.1,0.0,0.0
4,c0449fa612c9fad22b709e49f174dceaa7c04632,3c8a3a5b0785d40229dd7adc5fd0d9620defca885601bf...,2024-10-23T23:45:00.000,2024-10-24T00:00:00.000,1500,14.70,56,8,37.50,8.55,...,-87.769615,41.899602,-87.633308,2024-10-23 23:00:00,3,7,14.0,11.1,0.0,0.0

In [40]:
trips_full=pd.merge(trips_full,company,left_on="company_id",right_on="company_id",how="inner")
trips_full=trips_full.drop(columns=["company_id"])

In [41]:
trips_full=pd.merge(trips_full,payment_type,left_on="payment_type_id",right_on="payment_type_id",how="inner")
trips_full=trips_full.drop(columns=["payment_type_id"])

In [42]:
trips_full=pd.merge(trips_full,community_areas,left_on="pickup_community_area_id",right_on="area_code",how="inner")
trips_full=trips_full.drop(columns=["pickup_community_area_id"])
trips_full.rename(columns={"community_name":"pickup_community_area_name"},inplace=True)

In [43]:
trips_full=pd.merge(trips_full,community_areas,left_on="dropoff_community_area_id",right_on="area_code",how="inner")
trips_full=trips_full.drop(columns=["dropoff_community_area_id"])
trips_full.rename(columns={"community_name":"dropoff_community_area_name"},inplace=True)

In [ ]:
date["date"]=pd.to_datetime(date["date"])
trips_full["trip_start_timestamp"]=pd.to_datetime(trips_full["trip_start_timestamp"])

trips_full["trip_start_date"] = trips_full["trip_start_timestamp"].dt.date
trips_full["trip_start_date"] =pd.to_datetime(trips_full["trip_start_date"])

In [ ]:
trips_full=pd.merge(trips_full,date,left_on="trip_start_timestamp",right_on="date",how="inner")